.fetchFormComponent {
  /* margin: 10px; */
  /* border: 1px solid black; */
}

.searchWordInput {
  color: black;
}

.fetchButton {
  font-size: 14pt;
  /* width: 80px; */
}

.fetchButton > i {
  font-size: 14pt;
  margin: 0 0 0 15px;
}

.searchWordInput {
  font-size: 14pt;
  margin: 10px 10px 10px 0;
  /* margin: 10px; */
  padding: 5px;
}
