.Title_container {
  /* background: green; */
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 1px solid black; */
}

.Title_container > h1 {
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1.3;
  font-family: "Roboto Slab", serif;
}

.Title_container > h2 {
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
}

.Preparation_Container {
  /* background: lightslategray; */
}

.form-container {
  /* background: green; */
  margin: 2vh 0vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 1px solid black; */
}

.FetchButton {
  margin: 10px;
  font-size: 12pt;
}
