.Store_container {
  margin: 15px 0;
  padding: 15px 0;
  font-size: 14pt;
  border-top: 1px solid white;
}

.Store_container > button {
  /* background-color: green; */
  font-size: 14pt;
}

.Store_container > button > i {
  /* background-color: green; */
  font-size: 16pt;
  padding: 0 9px;
}
