.FetchStagingComponent {
  display: flex;
  /* flex-wrap: wrap; */
  /* height: 350px; */
  /* justify-content: space-between; */
  overflow-x: auto;
  width: 78vw;
  /* border: 1px solid white; */
  /* justify-content: center; */
}

.wordlist_Title {
  color: white;
}

.customListName {
  color: black;
  font-size: 16pt;
}
