.CustomListArray_Component {
  display: flex;
  /* height: 350px; */
  overflow-x: auto;
  width: 78vw;
  /* border: 1px solid white; */
}

.WorldList_container > input {
  color: black;
  font-size: 14pt;
  margin: 10px 10px 10px 0;
  padding: 5px;
}

.WorldList_container > button {
  background-color: green;
  font-size: 14pt;
}

.WorldList_container > button > i {
  background-color: green;
  font-size: 16pt;
  padding: 0 9px;
}
